<template>
	<style>
		.conversion{
			text-align: center;
		}
		table{
			margin: 0 auto 1rem auto;
			border-collapse: collapse;
			table-layout: fixed;
			list-style: none;
		}
		th, td{
			border: 2px solid var(--color-accent-2);
			padding: 0.5rem;
		}
	</style>
	<div>
		<h2>Referência de Preços</h2>
		<button class="card-btn delete-card-btn">×</button>
		<p class="conversion" style="text-align: center;">
			100 <strong>Punhados</strong>
			= 10 <strong>Sacos</strong>
			= 1 <strong>Baú</strong>
		</p>
		<table>
			<thead>
				<tr>
					<th>Item / Serviço</th>
					<th>Custo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Refeição para o grupo</td>
					<td>1 Punhado</td>
				</tr>
				<tr>
					<td>Quarto padrão (/noite)</td>
					<td>1 Punhado</td>
				</tr>
				<tr>
					<td>Quarto de luxo (/noite)</td>
					<td>1 Saco</td>
				</tr>
				<tr>
					<td>Carroça</td>
					<td>2 Punhados</td>
				</tr>
				<tr>
					<td>Montaria (cavalo, etc.</td>
					<td>3 Sacos</td>
				</tr>
				<tr>
					<td>Ferramentas especializadas</td>
					<td>3 Punhados</td>
				</tr>
				<tr>
					<td>Vestuário refinado</td>
					<td>3 Punhados</td>
				</tr>
				<tr>
					<td>Vestuário de luxo</td>
					<td>1 Saco</td>
				</tr>
				<tr>
					<td>Equipamento de Tier 1</td>
					<td>1 a 5 Punhados</td>
				</tr>
				<tr>
					<td>Equipamento de Tier 2</td>
					<td>1 a 2 Sacos</td>
				</tr>
				<tr>
					<td>Equipamento de Tier 3</td>
					<td>5 a 10 Sacos</td>
				</tr>
				<tr>
					<td>Equipamento de Tier 4</td>
					<td>1 a 2 Baús</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>