<template>
	<style>
		.image-input{
			width: 90%;
			height: 1.77rem;
			background: inherit;
			color: inherit;
			border: none;
			outline: none;
			font-size: 1rem;
		}
		.input-send{
			height: 2rem;
			width: 2rem;
			background: inherit;
			border: none;
			margin: 0;
			padding: 0;
			font-size: 1rem;
			cursor: pointer;
		}
		.image-preview{
			display: none;
			width: 100%;
			border-radius: 12px;
		}
	</style>
	<div>
		<button class="delete-card-btn">×</button>
		<button class="input-send">✅</button>
		<input class="image-input" type="text" placeholder="Cole o endereço da imagem"/>
    	<img class="image-preview" src=""/>
	</div>
</template>