/* Theme Transition */
.card, li{
	transition: background-color 0.4s cubic-bezier(1,0,.6,1), color 0.4s cubic-bezier(1,0,.6,1), border-color 0.4s cubic-bezier(1,0,.6,1);
}

/* Tooltip */
.card-tooltip {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease-in;
	position: absolute;
	top: 0;
	z-index: 100;

	text-align: center;
	background-color: var(--color-li-bg);
	color: var(--color-text);
	padding: 4px 6px;
	border-radius: 14px;
	font-size: 0.75em;
}
.card-tooltip::after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 14%; /* parte de baixo da tooltip */
	right: -24px;
	transform: translateX(-50%);
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent var(--color-li-bg);
}
.info-card-btn:hover + .card-tooltip {
	opacity: 1;
	pointer-events: auto;
	transition-delay: 0.5s; /* <-- Espera 0.5s antes de aparecer */

}

/* Card Buttons */
.card-btn{
	padding: 0;
	position: absolute;
	top: 0.1rem;
	background: none;
	border: none;
	color: #00000080;
	font-size: 1rem;
	cursor: pointer;
	transition: color 0.3s ease;
}
.delete-card-btn{
	right: 0.3rem;
}
.delete-card-btn:hover{
	color: #f6404e;
}
.edit-card-btn:hover{
	color: #f6a740;
}
.info-card-btn:hover{
	color: #409bf6;
}

/* Text Flavor */
.hope, .fear{
	color: #111111a0;
	padding: 0 5px;
	font-weight: 600;
	border-radius: 15px;
}
.hope{
	background-color: var(--color-hope);

}
.fear{
	background-color: var(--color-fear);
}
.crit{
	font-weight: 600;
	color: var(--color-crit);
}
h2{
	color: var(--color-card-title);
	font-family: "Faculty Glyphic", sans-serif;
	padding: 0.5rem 0 0.5rem 1rem;
	margin: 0;
	border-bottom: 3px solid var(--color-title-line);
}
p{
	margin: 0.5rem;
}

